# Local test
TEST_TX_ID=TX-2026-001
TEST_CLIENT_ID=C-001
TEST_AMOUNT=1500.00
TEST_REGION=PE-LIM
TEST_TX_TYPE=TRANSFER
TEST_TIMESTAMP=2026-05-13T10:00:00.000Z

# Kinesis
KINESIS_STREAM_NAME=
PROFILE_AGGREGATOR_TABLE_NAME=
